
/* Choose Easybank */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  #choose-easybank {
    background-color: #f3f4f6 !important;
    font-size: 18px !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 0px !important;
    font-size: 18px !important;
  }
}
@media only screen and (min-width: 768px) {
  #choose-easybank {
    background-color: #f3f4f6 !important;
    width: 100% !important;
    max-width: 100% !important;
    font-size: 18px !important;

    /* to counter container max-width for md+ screens*/
  }
  /* h4{
    margin-left: 10px;
  }
p{
  text-align: left;
  color: blue;
} */
  .gutter-md-left-padding {
    padding-left: 15px !important;
    font-size: 18px !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 30px !important;
    font-size: 18px !important;
    color:blue;
  }
}
.card {
  margin-top: 1px;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #f3f4f6 !important;
  border: none !important;
  margin: 0 !important;
  cursor: default !important;
}
.card h4 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color:black;
}
.card img {
  width: 25% !important;
}
.card p {
  width: 90%;
  font-size: 16px !important;
  color:black;
}



/*testimonial*/
.sr-only{position: absolute !important;height: 1px; width: 1px;border: 0; padding: 0;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);pointer-events:none;}

.tfeature_btn{margin-top:110px;background:transparent;border:2px solid #000;width:40px;height:40px;line-height:36px;border-radius:50%;color:#000;text-align:center;font-size:17px;}

#tfeature-images{position:relative;height:250px;}
.tfeature-images_item{width:250px;height:250px;border-radius:50%;background-color:#000;display:none;overflow:hidden;position:absolute;top:0;z-index:1;left:50%;margin-left:-125px;}
.tfeature-images_item.left{margin-left:-325px;}
.tfeature-images_item.right{margin-left:50px;}
.tfeature-images_item.center{z-index:9;}
.tfeature-images_item.left,.tfeature-images_item.right,.tfeature-images_item.center{display:block;}
.tfeature-images_item.left img,.tfeature-images_item.right img{opacity:.4;}
#tfeature-testimonial{text-align:center;}
#tfeature-testimonial_content{font-size:3.5rem;padding:1rem 0;}
#tfeature-testimonial_author{font-style:italic;font-size: 2rem;}

/*utils*/
.container {width: 980px; max-width:100%; margin:0 auto;}
img{max-width:100%;}
.columns{
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    padding: 2rem 0;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.col-1,.col-9{flex: 0 0 auto;padding:10px}
.col-1:last-of-type{text-align:right;}
.col-1 {flex-basis: 8.333%;max-width: 8.333%;}
.col-9 {flex-basis: 75%;max-width: 75%;}

@media (max-width: 800px){
  .tfeature-images_item.left,
  .tfeature-images_item.right{
    display:none;
  }
  .col-1 {flex-basis: 12%;max-width: 12%;}
.col-9 {flex-basis: 55%;max-width: 55%;}
  .col-1,.col-9{padding:10px 0;}
}


/*PArtner section css*/
h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}


.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 30%;
    min-height: 1px;

}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-slide:hover{
  cursor: pointer;
}
