#I1, #I2, #I3, #I4, #I5, #I6, #I7, #I8, #I9, #I10, #I11, #I12, #I13, #I14, #I15 {
  height: 100px;
  width: 80%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  border-radius: 4%;
  overflow: hidden;
}

#I1:hover, #I2:hover, #I3:hover, #I4:hover, #I5:hover, #I6:hover, #I7:hover, #I8:hover, #I9:hover, #I10:hover, #I11:hover, #I12:hover, #I3:hover, #I4:hover, #I5:hover {
  box-shadow: 0 1px 10px 1px #cccccc;
  transition-delay: 0.5s;
}

#I1 {
  background: url('../imagess/1.png') no-repeat;
  background-position: center;
}

#I2 {
  background: url('../imagess/2.png') no-repeat;
  background-position: center;
}

#I3 {
  background: url('../imagess/3.png') no-repeat;
  background-position: center;
}

#I4 {
  background: url('../imagess/4.png') no-repeat;
  background-position: center;
}

#I5 {
  background: url('../images/5.png') no-repeat;
  background-position: center;
}

#I6 {
  background: url('../imagess/6.png') no-repeat;
  background-position: center;
}

#I7 {
  background: url('../imagess/7.png') no-repeat;
  background-position: center;
}

#I8 {
  background: url('../imagess/8.png') no-repeat;
  background-position: center;
}

#I9 {
  background: url('../imagess/9.png') no-repeat;
  background-position: center;
}

#I10 {
  background: url('../imagess/10.png') no-repeat;
  background-position: center;
}

#I11 {
  background: url('../imagess/11.png') no-repeat;
  background-position: center;
}

#I12 {
  background: url('../imagess/12.png') no-repeat;
  background-position: center;
}

#I13 {
  background: url('../imagess/13.png') no-repeat;
  background-position: center;
}

#I14 {
  background: url('../imagess/14.png') no-repeat;
  background-position: center;
}

#I15 {
  background: url('../imagess/15.png') no-repeat;
  background-position: center;
}

#I1 span, #I2 span, #I3 span, #I4 span, #I5 span, #I6 span, #I7 span, #I8 span, #I9 span, #I10 span, #I11 span, #I12 span, #I13 span, #I14 span, #I15 span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000;
  color: #fff;
  opacity: .8;
}