/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("intro-bg.jpg") center top no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 767px) {
    #hero {
      height: auto;
      padding: 100px 0 60px 0;
    }
    #hero .container {
      height: auto !important;
    }
    #hero .intro-img {
      width: 80%;
    }
  }
  
  @media (min-width: 992px) {
    #hero .intro-info {
      padding-top: 80px;
    }
  }
  
  @media (max-width: 767px) {
    #hero .intro-info {
      text-align: center;
      padding-top: 40px;
    }
  }
  
  #hero .intro-info h2 {
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero .intro-info h2 span {
    color: #1bb1dc;
  }
  
  @media (max-width: 767px) {
    #hero .intro-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  
  #hero .intro-info .btn-get-started, #hero .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  
  #hero .intro-info .btn-get-started:hover, #hero .intro-info .btn-services:hover {
    background: #0a98c0;
  }
  
  form.rajat_rapid_hero_example input[type=text] {
    padding: 3px;
    font-size: 17px;
    border: 1px solid silver;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.rajat_rapid_hero_example button {
    float: left;
    width: 20%;
    padding: 3px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top : 0;
  }
  
  form.rajat_rapid_hero_example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.rajat_rapid_hero_example::after {
    content: "";
    clear: both;
    display: table;
  }
  html {
    scroll-behavior: smooth;
  }


  /* .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: silver;
    color: black;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  } */