.vanshika_body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  .vanshika_anchor{
    color: #1bb1dc;
    transition: 0.5s;
  }
  
  .vanshika_anchor:hover,
  .vanshika_anchor:active,
  .vanshika_anchor:focus {
    color: #0a98c0;
    outline: none;
    text-decoration: none;
  }
  
  .vanshika_para {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  
  .vanshika_h3,
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  
  /* Services Section
  --------------------------------*/
  
  #services {
    padding: 60px 0 40px 0;
  }
  
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  #services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  #services .icon .icons {
    font-size: 36px;
    line-height: 1;
  }
  
  #services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title .vanshika_anchor {
    color: #111;
  }
  
  #services .box:hover .title .vanshika_anchor {
    color: #1bb1dc;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
  }
  
  .section-header .vanshika_h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  
  .section-header .vanshika_para {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  /* Clients Section
  --------------------------------*/
  
  #clients {
    padding: 60px 0;
  }
  
  #clients .brands {
    width: 20%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 15px;
  }
  
  #clients .brands:hover {
    opacity: 1;
  }
  
  #clients .owl-nav,
  #clients .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  #clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #clients .owl-dot.active {
    background-color: #1bb1dc;
  }
  
  
  @media (max-width: 767px) {
    .section-header .vanshika_para {
      width: 100%;
    }
  }
  
  .brands-logo img{
    width:20%;
    /* position: absolute; */
    text-align: center;
    display: inline-block;
  }
