/* body {
	padding: 5%;
	background-color: #dcdcdc;
} */

.breadcrumb {
	/* float: left; */
	width: 100%;
}

.breadcrumb a {
	text-decoration: none;
    color: #1e90ff;
	padding: 0 5px;
	
}

@media (max-width:630px){
	.breadcrumb {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: .75rem 0rem;
		margin-bottom: 1rem;
		list-style: none;
		background-color: #e9ecef;
		border-radius: 0.25rem;
		font-size: 13px;
	}
}

@media (max-width:500px){
	.breadcrumb {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: .75rem 0rem;
		margin-bottom: 1rem;
		list-style: none;
		background-color: #e9ecef;
		border-radius: 0.25rem;
		font-size: 10px;
	}
}