:root {
  --header-height: 56px;
  --site-width: 1280px;
  --su-1: 0.25rem;
  --su-2: 0.5rem;
  --su-3: 0.75rem;
  --su-4: 1rem;
  --su-5: 1.25rem;
  --su-6: 1.5rem;
  --su-7: 2rem;
  --su-8: 3rem;
  --su-9: 4rem;
  --su-10: 8rem;
  --radius: 3px;
  --transition-func: cubic-bezier(0.17, 0.67, 0.5, 0.71);
  --transition-time: 100ms;
  --transition-props: var(--transition-func) var(--transition-time);
  --ff-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ff-accent: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua',
    Georgia, serif;
  --fs-xs: 0.75rem;
  --fs-s: 0.875rem;
  --fs-base: 1rem;
  --fs-l: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heavy: 800;
  --lh-tight: 1.25;
  --lh-base: 1.5;
}


/* body {
  background: #eef0f1;
  color: --body-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
} */

.border-solid {
  border-style: solid !important;
}
@media (max-width:500px){
.crayons-layout__content{
    padding: 0px;
}}

.crayons-avatar {
  display: inline-block;
  border-radius: 100%;
  position: relative;
  background-color: --card-color-tertiary;
  width: 1.5rem;
  height: 1.5rem;
}

.crayons-avatar__image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.crayons-avatar::after {
  content: '';
  border: 1px solid --body-color;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  pointer-events: none;
}

.crayons-avatar--l {
  width: 2rem;
  height: 2rem;
}

.crayons-avatar--xl {
  width: 3rem;
  height: 3rem;
}

.crayons-avatar--2xl {
  width: 4rem;
  height: 4rem;
}

.crayons-avatar--3xl {
  width: 8rem;
  height: 8rem;
}

.crayons-logo {
  display: inline-block;
  border-radius: 3px;
  position: relative;
  background-color: --body-color-inverted;
  width: 1.5rem;
  height: 1.5rem;
}

.crayons-logo__image {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.crayons-logo::after {
  content: '';
  border: 1px solid --body-color;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
  pointer-events: none;
}



.crayons-card {
  border-radius: 3px;
  background: #fff !important;
  color: #08090a;
  box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
}




:root {
  --article-rythm: 0.5rem;
  --article-padding-x: 0.75rem;
  --article-padding-y: 0.75rem;
  --article-font-size: 1.125rem;
}

@media (min-width: 640px) {
  :root {
    --article-padding-x: 1.25rem;
    --article-padding-y: 1.25rem;
  }
}

@media (min-width: 768px) {
  :root {
    --article-rythm: 1rem;
    --article-padding-x: 3rem;
    --article-padding-y: 2rem;
    --article-font-size: 1.25rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --article-padding-x: 4rem;
  }
}

.article-wrapper {
  min-width: 0;
}

.crayons-article__cover {
  position: relative;
  width: 100%;
  padding-top: 42%;
}

.topic_custom_blogpostroadmap{
  color:black !important;
}

.crayons-article__cover__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.crayons-article__header {
  margin-bottom: var(--article-padding-y);
}

.crayons-article__header__meta {
  padding: var(--article-padding-y) var(--article-padding-x) 0 var(--article-padding-x);
}

.crayons-article__header__meta h1{
   font-size: 45px;
   font-weight: 1000;
}

@media (max-width:1000px){
  .crayons-article__header__meta h1{
      font-size: 39px;
      font-weight: 700;
   }
}

@media (max-width:500px){
  .crayons-article__header__meta h1{
      font-size: 30px;
      font-weight: 700;
   }
}
.crayons-article__subheader {
  font-size: 1rem;
  color: #64707d;
  display: inline;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width:500px){
  .crayons-article__subheader {
      font-size: 1rem;
      color: #64707d;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
}

.crayons-article__body {
  padding: 0 var(--article-padding-x) var(--article-padding-y) var(--article-padding-x);
  overflow-wrap: break-word;
}



.text-styles h1 {
  font-size: 1.85em;
  line-height: 1.25em;
  font-weight: 400;
}

.text-styles h2 {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}

.text-styles h3 {
  font-size: 1.32em;
  font-weight: 400;
}

.text-styles hr {
  width: 25%;
  opacity: 0.1;
  border: 1px solid --body-color;
  margin: 1.3em auto 1.5em;
}

.text-styles p {
    font-size: 1.125rem;
  margin: var(--article-rythm) 0;
}

.text-styles ul,.text-styles ol {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.text-styles ul br,.text-styles ol br {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.text-styles ul {
  list-style-type: disc;
}

.text-styles ul p {
  margin: 0;
  padding: 0;
}

.text-styles ul ul {
  margin: 0 0.7em 0 1.9em;
  list-style-type: square;
}

.text-styles ul ul ul {
  list-style-type: circle;
}

.text-styles li {
  margin: 0.5rem 0;
}

.text-styles figure {
  margin: 0;
}

.text-styles figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  color: --body-color;
  opacity: 0.75;
  display: block;
}

.text-styles p+figcaption {
  margin-top: -0.8em;
}

.text-styles blockquote {
  border-left: 4px solid #7d8a97;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.text-styles blockquote p:first-child {
  margin: 0.5rem 0;
}

.text-styles blockquote.twitter-tweet {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: --body-color-inverted;
  max-width: 456px;
  border: 1px solid #e9eef2;
  font-size: 0.75em;
  line-height: 1.35em;
  border-radius: 5px;
  margin: 1.6em auto;
  padding: 60px 10px 18px;
  color: white;
  min-height: 60px;
  padding: 33px 15px 8px;
}

.text-styles blockquote.twitter-tweet a {
  color: white;
}

@media screen and (min-width: 640px) {
  .text-styles blockquote.twitter-tweet {
    padding: 60px 22px 18px;
    min-height: 105px;
  }
}

.text-styles kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.text-styles pre:not(.highlight),.text-styles div.highlight {
  margin: 0.5rem 0;
}

.text-styles img {
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: calc(50vh + 180px);
  border-radius: 3px;
}

.text-styles a.article-body-image-wrapper {
  cursor: zoom-in;
}

.text-styles iframe {
  width: 100%;
  border: 0;
  margin: 0.5rem 0;
}

.text-styles .fluidvids {
  margin: 0.5rem 0;
}

.text-styles .fluidvids iframe {
  margin: 0;
}

.text-styles .table-wrapper-paragraph {
  width: 100%;
  margin-left: 0%;
  overflow-x: auto;
}

.text-styles table {
  border-collapse: collapse;
  font-size: 0.78em;
  margin: 0.8em auto 1.2em;
  table-layout: fixed;
}

.text-styles table th {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px 1vw;
  background: var(--body-bg);
  text-align: left;
}

.text-styles table td {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px 1vw;
}

.text-styles .twitter-tweet {
  margin: auto;
}

.text-padding {
  padding: --article-padding-y --article-padding-x;
}

.crayons-layout__content{
  display: inline-block;
}


.article-wrapper{
    
  -webkit-user-select: none;
  user-select: none;
  margin: 0px auto;
  background: white;
  color: black;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);

}

.crayons-layout__content{
  float: left;;
  padding: 20px ;
display: inline-block;

}



@media (max-width:500px){
  .crayons-layout__content{
    float: left;;
    padding: 20px 0;
  display: inline-block;
  
  }

}





