

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
/* #Primary
================================================== */


/* ::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
} */


/* #Navigation
================================================== */

.start-header {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	opacity: 1;
	transform: translateY(0);
	padding: 16px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

@media (max-width:991px){
	.start-header {
		opacity: 1;
		transform: translateY(0);
		padding: 1px 0;
		box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
		-webkit-transition : all 0.3s ease-out;
		transition : all 0.3s ease-out;
	}
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar_navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar_navbar-toggler:active,
.navbar_navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar_navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar_navbar-toggler-icon:after,
.navbar-light .navbar_navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar_navbar-toggler-icon:after{
	top: 8px;
}
.navbar_navbar-toggler[aria-expanded="true"] .navbar_navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar_navbar-toggler[aria-expanded="true"] .navbar_navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar_navbar-toggler[aria-expanded="true"] .navbar_navbar-toggler-icon {
	border-color: transparent;
}
.navbar_nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.navbar_nav-item:hover .navbar_nav-link{
	color: #8167a9 !important;
}
.navbar_nav-item.active .navbar_nav-link{
	color: #777 !important;
}
.navbar_nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.navbar_nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.navbar_nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.navbar_nav-item.active:hover:after{
	opacity: 0;
}
.navbar_nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}



#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
#switch {
	width: 60px;
	height: 8px;
	border: 2px solid #8167a9;
	border-radius: 27px;
	background: #000;
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #8167a9 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.navbar_nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.navbar_nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

.navbar_navbar-toggler{
	margin: 20px 0 20px;
}

/* body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .navbar_nav-link{
	color: #fff !important;
}
body.dark .navbar_nav-item.active .navbar_nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar_navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar_navbar-toggler-icon:after,
body.dark .navbar-light .navbar_navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar_navbar-toggler[aria-expanded="true"] .navbar_navbar-toggler-icon {
	border-color: transparent;
} */



/* #Media
================================================== */
@media (max-width: 767px) {
  .navbar_nav-item:after{
		display: none;
	}
	.navbar_nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}


	.dropdown-toggle[aria-expanded="true"]  {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .navbar_nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark {
		background-color: transparent;
		box-shadow: none;
	}
}



.aradhna_navbarfont{
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

#rajat_nav_logo{
	/* width:4rem;
	height:4rem; */
	display:inline-block;
}