.para_1{    display: contents;
    position: relative;
    top:-30px;
    left: 60px;
  }
  .para_2{    display: contents;
    position: relative;
    top: -30px;
    left: 60px;
  }
  .para_3{    display: contents;
    position: relative;
    top:-30px;
    left: 60px;
  }
  .para_4{    display: contents;
    position: relative;
    top: -30px;
    left: 60px;
  }
  .para_5{    display: contents;
    position: relative;
    top: -30px;
    left: 60px;
  }
  
  .para_6{    display: contents;
    position: relative;
    top: -40px;
    left:60px;
  }
  
  .para_7{    display: contents;
    position: relative;
    top: -40px;
    left: 60px;
  }
  .para_8{    display: contents;
    position: relative;
    top: -40px;
    left: 60px;
  }
  .para_9{    display: contents;
    position: relative;
    top: -40px;
    left: 60px;
  }
  .para_10{    display: contents;
    position: relative;
    top: -40px;
    left: 60px;
    right: -60px;
  }
  .para_11{
    position: relative;
    top: -40px;
    right: -60px;
    left: 60px;
  }
  .para_12{    display: contents;
    position: relative;
    top: -40px;
    left: 70px;
  }


  .para{
    text-align: left;
    padding: 15px;
    display: inline-block;
    font-family:'Work Sans';
    /* font-weight: 600; */
    font-size: 15px;
    color: black;

  }
   .cs:hover{
    
  }
  
  .form-group {
    margin-bottom: 0px;
    
  }
  
  @media(max-width:800px){
  .all{
    padding-left: 10px;
  }

 
}

.biggerheading{
  
  margin-bottom: 25px;
}


  


  /* .grp1{
    padding-bottom:18px;
  } */




  .outer-div-outermost{
    text-align: center;
    /* background: #f5f8fd; */
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media(max-width:500px){
    .outer-div-outermost{
      /* background: #f5f8fd; */
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
  
  }


  @media(min-width:1000px){
    .grp2{
      padding-bottom:15px;
    } 
  
  
  }


  .aradhna_outimg{
    height: 46px;
    width: 76px;
  }