.roadmapmore{
	position: relative;
}

@media only screen and (max-width: 300px) {
	#c{
		width: 95%;
		height:60vh;
		background-image: url("https://www.kirkerholidays.com/media/image-cache/514dd4aa-b562-4d53-86eb-2247681f5152/1920-765-1-2500-1669/1486740599-paris_520130743jpg.jpg");
		background-repeat:no-repeat; 
		text-align:center;
		margin: 0%;
		margin: 0 auto;
		border: 5% solid #fff;
	}
	#one{
		padding-top: 10%;
		font-size: 1.5em;
		color:#fff;
	}
	#two{
		font-size: 2em;
		color:#fff;
	}
	#three{
		font-size: 1em;
		color:#fff;
	}
	/* img{
		display:block;
		width: 75%;
	} */
	.half{
		text-align: center;
		display:block;
		width:50%;
		float:left;
		margin: 0%;
		margin: 0 auto;
		padding:5% 25% 5% 30%;
		border: 1% solid #fff;
	}
	a{
		display: block;
		text-decoration: none;
		color: orange;
		background-color: #000;
		width:32%;
		margin: 2%;
		padding: 9%;
		padding-right: 12%;
		border: 1% solid #000;
		margin-left: -20%;
	}
	#four{
		font-size:1em; 
		margin-left: -25%;
	}
	#five{
		font-size: 0.7em;
		color:#6E7270;
		margin-left: -30%;
	}
}

@media only screen and (min-width: 300px) and (max-width: 500px){
	#c{
		width: 95%;
		height:60vh;
		background-image: url("https://www.kirkerholidays.com/media/image-cache/514dd4aa-b562-4d53-86eb-2247681f5152/1920-765-1-2500-1669/1486740599-paris_520130743jpg.jpg");
		background-repeat:no-repeat; 
		text-align:center;
		margin: 0%;
		margin: 0 auto;
		border: 5% solid #fff;
	}
	#one{
		padding-top: 10%;
		font-size: 1.5em;
		color:#fff;
	}
	#two{
		font-size: 2em;
		color:#fff;
	}
	#three{
		font-size: 1em;
		color:#fff;
	}
	/* img{
		display:block;
		width: 75%;
	} */
	.half{
		text-align: center;
		display:block;
		width:50%;
		float:left;
		margin: 0%;
		margin: 0 auto;
		padding:5% 25% 5% 30%;
		border: 1% solid #fff;
	}
	/* a{
		display: block;
		text-decoration: none;
		color: orange;
		background-color: #000;
		width:32%;
		margin: 1%;
		padding: 2%;
		border: 1% solid #000;
		margin-left: -20%;
	} */

	#four{
		font-size:1em; 
		margin-left: -25%;
	}
	#five{
		font-size: 0.7em;
		color:#6E7270;
		margin-left: -30%;
	}
}



@media only screen and (min-width: 600px){
	#c{
		width: 85%;
		height:80vh;
		background-image: url("https://www.kirkerholidays.com/media/image-cache/514dd4aa-b562-4d53-86eb-2247681f5152/1920-765-1-2500-1669/1486740599-paris_520130743jpg.jpg");
		background-repeat:no-repeat; 
		text-align:center;
		margin: 0%;
		margin: 0 auto;
		border: 5% solid #fff;
		padding-top: 10%;
	}
	#one{
		font-size: 1.5em;
		color:#fff;
	}
	#two{
		font-size: 2em;
		color:#fff;
	}
	#three{
		font-size: 1em;
		color:#fff;
	}
	/* img{
		display:inline;
		width: 50%;
	} */
	.half{
		text-align: center;
		display:inline-block;
		width:30%;
		float:left;
		margin: 0%;
		margin: 0 auto;
		padding:1%;
		border: 1% solid #fff;
	}
	/* a{
		display: block;
		text-decoration: none;
		color: orange;
		background-color: #000;
		width:32%;
		margin: 1%;
		padding: 2%;
		border: 1% solid #000;
	} */
	#four{
		font-size:1em; 
	}
	#five{
		font-size: 0.7em;
		color:#6E7270;
	}
}



