.CourseDetail {
  padding-top: 4em;
  margin-left: 0em;
}

.new{
  width: 100%;
  display: inline-block;
}
#pfortags{
  color: orange;
}

.h1coursedesc{
  font-weight: bold;
}
.h1class{
  font-weight: bolder;
}

#spantag{
  display: block;
  color:white;
  padding-left: 0.5em;
  background-color: blue;
  
}
.coursedestag{
  display: block;
}

.det{
  display: inline-block;
  background-color: white;
  height: 18em;
  border-radius: 10px;
  padding:30px;
}

.spantagclass{
  display: inline-block;
  
}

#coursename{
  padding-left: 0em; 
}

.details{
  padding-top: 2em;
  margin-top: 4em;
}



#separatorspan{
  background-color: #e6e6e6;
  display: inline-block;
  
  padding-left: 0.5em;
  
  
}
.infodivdetail{
  /* margin-left: 0em; */
}

.small{
  margin-top: 0;
  padding-top: 0;
}

.h2bold{
  color:black;
  font-weight: bold;
  padding-top: 0em;
  padding-bottom: 0;
  margin-bottom: 0;
  
  
  bottom:0;
}

.gotocourse{
  width:100%;
  display: block;
  width: 100%;
  text-align: center;
}

.aradhna_rightshift{
  float: right;
}

@media (max-width:750px){
  .aradhna_rightshift{
    margin-bottom: -43px;
    float: left;
    margin-top: 21px;
}
  }
