.listinCourses{
    display: block;
}

@media only screen and (max-width:768px){
    .filter{
        /* display: none; */
    }
    .cardRow{
        margin: auto;
    }
}


/* .aradhna_listingcoursescontainer{
    max-width: 90%;
}

@media (max-width:900px){
    .aradhna_listingcoursescontainer{
        max-width: 100%;
        padding: 0;
    }} */

    .rajat_listing_loadmore_btn{
        border:1px solid blue !important;
    }
    .rajat_listing_loadmore_btn:hover{
        color:white;
    }


    .rajat_loading_loader_animation {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        border-right: 16px solid white;
        border-bottom: 16px solid #3498db;
        border-left: 16px solid white;
        width: 120px;
        height: 120px;
        -webkit-animation: rajat_spin 2s linear infinite;
        animation: rajat_spin 2s linear infinite;
      }
      
      @-webkit-keyframes rajat_spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes rajat_spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }