body {font-family: Arial, Helvetica, sans-serif;
color: black;}
.aradhna_signupinput{
  width: 70%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-bottom: 10px;
}



.btn-G{
  background-color: white;
  color: black;
  border: 1px solid;
  border-color: #474e5d;
  border-radius: 4px;
  width:70%;
  font-size: 20px;
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}



/* .lower{
padding-left:100px;
} */

.btn-fb {
  background-color: #3B5998;
  border: 1px solid;
  color: white;
  border-radius: 4px;
  width:70%;
  font-size: 22px;
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}
.btn-ld{
background-color: rgb(255,255,255);
border: 1px solid rgb(0, 119, 181);
  color: rgb(0, 119, 181);
  border-radius: 4px;
  width:70%;
  font-size: 20px;
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 1%;

  }
  .signupbtn{
    text-align: center;
    width: 70%;
    border-radius: 2px;
  background-color: #007aff;
  color: white;
  box-shadow: 0px;
  }

  .signupbtn:hover{
    background-color:blue !important;
  }




  @media(max-width:500px){
    .aradhna_signupinput{
      width: 100%;
      padding: 15px;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      margin-bottom: 10px;
    }


    
.btn-G{
  background-color: white;
  color: black;
  border: 1px solid;
  border-color: #474e5d;
  border-radius: 4px;
  width:100%;
  font-size: 22px;
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}



/* .lower{
padding-left:100px;
} */

.btn-fb {
  background-color: #3B5998;
  border: 1px solid;
  color: white;
  border-radius: 4px;
  width:100%;
  font-size: 22px;
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}
.btn-ld{
background-color: rgb(255,255,255);
border: 1px solid rgb(0, 119, 181);
  color: rgb(0, 119, 181);
  border-radius: 4px;
  width:100%;
  font-size: 22px;
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;

  }

  .signupbtn{
    text-align: center;
    width: 100%;
    border-radius: 2px;
  background-color: #3B5998;
  color: white;
  box-shadow: 0px;
  }
  }

  .btn-G:hover{
  color:#fff;background-color:#4285f4;border-color:rgba(0,0,0,0.2);
  }
  .btn-fb:hover{
  color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2);
  }
  .btn-ld:hover{
  color:#fff;background-color:rgb(0, 119, 181) ;border-color:rgb(0, 119, 181);
  }

.psw-char{
  padding-top: 0px;
  margin-top:1rem;
  font-size: 13px;
  text-align: right;
  width: 70%;
  color: #474e5d;
}


.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.strike{
  font-size: 15px;
  color: #474e5d;
}

hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 3px;
  margin-top: 1px;
}
input:hover,
.btn:hover {
  opacity: 1;
}

.signin{
  text-align: center;
}

@media screen and (max-width: 600px) {
.btn-fb{
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 17px;
}
.btn-ld{
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 17px;
}

}


.aradhna_signupbutton{
  background-color: #3B5998;
}

.signupbtn:hover{
  border-radius: 2px;
background-color: #2d4270;
color: white;
box-shadow: 0px;
}

.or{
  margin-top: 1rem;
}


#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('image.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}