@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

.bg {
    /* font-family:   'Work Sans'; */
    max-width: 100%;
    /* The image used */
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url("../../data/about_section.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    padding: 65px 0px;
   
}

#text {
   
   
    color: white;
    /* transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
}

.bottom {
   
    color: white;
    /* transform: translate(-50%,-50%); */
}

.rule {
    width: 100%;

    color: white;
    /* transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
}

/* h1 {
    font-size: 3.5em;
    font-family: 'Bree Serif', serif;
} */
.about_h1{
    padding-left: 3%;
    font-size: 3.5em;
   color: white;
   font-family: 'Montserrat';
    font-weight: 600;
}



.tag {
    padding-left: 3%;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2px;
    font-weight: 400;
}

.alpha {
    display: inline;
    margin-left: 0;
    font-size: 10px;
    padding: 10px;
    font-size: 1.0em;
    font-family: 'Muli', sans-serif;
}
.alpha {
    text-decoration: none;
    padding-left: 8px;
    margin-left: 0;
}
mark {
    background-color: #4a3f35;
    color: white;
}
.custom_about{
    padding: 7px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* border-radius: 50%; */
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}
@media screen and (max-width: 1030px) {
    .rule {
        top: 60.9%;
    }
    .bottom {
        top: 63.9%;
    }
}
@media screen and (max-width: 770px) {
    .rule {
        top: 62.9%;
    }
    .bottom {
        top: 65.9%;
        left: 32%;
    }
    li {
        font-size: 10px;
        padding: 2.3px;
        font-size: 1.0em;
    }
}
@media screen and (max-width: 500px) {
    .about_h1{
        padding-left: 0px;
    }
    
    .tag {
        padding-left: 0px;
    }
    .rule {
        top: 65.9%;

    }
    .bottom {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    #text {
        padding-left: 0px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 350px) {
    #text {
        padding-left: 0px;
        margin-left: 15px;
    }
        .about_h1{
            padding-left: 3%;
            font-size: 2em;
           color: white;
        }
    
}