body {font-family: 'Pangolin', cursive;}
input[type=text], input[type=password] {
  width: 75%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-bottom: 10px;
}

.btn-G{
  background-color: white;
  color: black;
  border: 1px solid;
  border-color: #474e5d;
  border-radius: 4px;
  width:70%;
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}

/* .lower{
padding-left:100px;
} */

.btn-fb {
  background-color: #3B5998;
  border: 1px solid;
  color: white;
  border-radius: 4px;
  width:70%;
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}
.btn-ld{
background-color: rgb(255,255,255);
border: 1px solid rgb(0, 119, 181);
  color: rgb(0, 119, 181);
  border-radius: 4px;
  width:70%;
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 1%;

  }

  .btn-G:hover{
  color:#fff;background-color:#4285f4;border-color:rgba(0,0,0,0.2);
  }
  .btn-fb:hover{
  color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2);
  }
  .btn-ld:hover{
  color:#fff;background-color:rgb(0, 119, 181) ;border-color:rgb(0, 119, 181);
  }

.psw-char{
  padding-top: 0px;
  margin-top:0px;
  font-size: 13px;
  margin-left: 70%;
  color: #474e5d;
}


.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.strike{
  font-size: 15px;
  color: #474e5d;
}

hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 3px;
  margin-top: 1px;
}
input:hover,
.btn:hover {
  opacity: 1;
}
.signupbtn{
  text-align: center;
  width: 70%;
  border-radius: 2px;
background-color: #007aff;
color: white;
box-shadow: 0px;
}
.signin{
  text-align: center;
}

@media screen and (max-width: 600px) {
.btn-fb{
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 17px;
}
.btn-ld{
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 17px;
}

}
