.block {
    background-color: white;
    height: 300px;
    width: 200px;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 5px;
    float: left;
    align-items: left;
    border-radius: 10px;

}

.card-img-top {
    height: 120px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}


.card-title {
    padding-left: 10px;
    padding-right: 10px;
}

.h6-instructor {
    margin-left: 10px;
}
.h6{
    margin-left: 10px;
    float: left;
}
